@font-face {
    font-family: 'stay_classy_sldtregular';
    src: url('../font/stay_classy_sldt-webfont.woff2') format('woff2'),
         url('../font/stay_classy_sldt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src : url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Avenir Next Regular';
    src : url('../font/Avenir_Next/AvenirNextLTPro-Regular.otf');
}

body {
	background-color: white;
	font-size: 20px;
	font-family: "Avenir Next Regular";
}
header{
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Menu Header */
.menu a{
	text-decoration: none;
	color: white;

}
.menu ul{
	list-style: none;

	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;

	padding: 20px;
}
.menu ul li{
	padding-left: 20px;
	padding-right: 20px;
}
.menu #menu_item_1, .menu #menu_item_2, .menu #menu_item_3{
	border-right:1px solid white;
}
.menu hr{
	padding: 0;
}
.menu{
	background-color: #1b1b1a;
}

/* info */
#info{
	position: absolute;
	top:0;
	right: 20px;
}
#deco{
	border: 1px #1b1b1a solid;
	text-decoration: none;
	color: white ;
	background-color: #1b1b1a;
	border-radius: 5px;
	padding: 5px;
	margin-left: 5px;
}

.Titre{
	text-align: center;
	font-family: 'Avenir Next Regular';
	color: #ae8717;
	font-size: 40px;
	margin-bottom: 50px;
	margin-top: 50px;
}
/* Fin de partie */
#btnAgain, #btnContinue, #btnMise, #formConnect #button button, #formInscription #button button{
	font-size: 20px;
	border: 1px #1b1b1a solid;
	text-decoration: none;
	color: white ;
	background-color: #1b1b1a;
	border-radius: 5px;
	padding: 5px;
}

#formMise{
	display: flex;
	flex-direction:column;
	align-items: center;
}

/* Formulaire de connection */
#formConnect{
	display: flex;
	flex-direction:column;
	align-items: center;
}
#formConnect #button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 20px;
}

/* Formulaire d'inscription */
#formInscription{
	display: flex;
	flex-direction:column;
	align-items: center;
}
#formInscription #button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 20px;
}

.inputMise, .inscriptionMoney, .inscriptionPassword,.inscriptionPseudo, .connectPassword, .connectPseudo {
	font-size: 20px;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border: 1px black solid;
}

.tableInscription{
	border-spacing: 5px;
	margin: auto;
	padding: auto;
}
.transition{
	background-color: #ae8717;
	height: 5px;
	width: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	border: none;
}
.tableMise{
	border-spacing: 5px;
	margin:auto;
	padding: auto;
}
.page{
	background-color: white;
	width: 65%;
	height: auto;
	margin: auto;
	padding: auto;
}
.tableDistribCartes{
	border-collapse: separate;
    border-spacing: 250px 0px; 
	margin-left: 35px;
	padding: auto;
	text-align: center;
}
.mise{

}
.formChoice{
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%;
	border:5px black dashed;
	text-align: center;
}
.tableChoice{
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding: 1em;
}
.buttonChoiceSubmit{
	margin-top: -1em;
	margin-bottom: 1em;
	background-color: black;
	color: #FFD700;
}
.btnContinue{
	margin-top: -1em;
	margin-bottom: 1em;
	background-color: black;
	color: #FFD700;
}

/* Profil */
.history{
	margin-top: 20px;
	margin-left: 100px;
}
.row_history{
	text-align: center;
	border-bottom: solid;
}
.title_history{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.circle{
	border: 2px solid #474747;
    border-radius: 100%;
    width: 125px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.circle span{
	font-size: 1.6em;
}
.containerProfil{
	display: flex;
	align-items: flex-start;
}
.win_rate{
	margin-left: auto;
    margin-right: auto;
}
.win_rate p{
	font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
#solde{
	font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}